body {
    /* overflow: hidden; */
    background-color: azure;
}
#app {
   
    width: 100%;
    height: 100vh;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_text{
    font-weight: bold;
}

main {

    text-align: center;
}

#title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

#problems_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left {
   flex: 45%
}
#right {
    flex: 45%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    #problems_container {
        flex-direction: column;
    }
}

.list-group-item {
    font-size: 2rem;
    font-weight: bold;
    word-spacing: 1.5rem;
}