<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>PreK Math Formula Worksheet</title>
</head>

<body>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>

    <script type="module">
        import { createApp } from 'vue'
        let id = 0

        createApp({
            data() {
                return {
                    min_num: 0,
                    sum_to: 0,
                    total: 0,
                    operators: ['+', '-'],
                    formulas_left: [],
                    formulas_right: []
                }
            },
            methods: {
                generatePdf() {
                    console.log('btn clicked')
                },

                generateRandomInt() {
                    let randomInt = 0;
                    while (randomInt < this.min_num) {
                        randomInt = Math.floor(Math.random() * this.sum_to)
                    }
                    return randomInt
                },
                generateOneFormula(list) {
                    const num1 = this.generateRandomInt();
                    const num2 = this.generateRandomInt();;
                    const operator_index = Math.floor(Math.random() * this.operators.length);
                    const operator = this.operators[operator_index];

                    const printFormula = (x, y,list) => {
                        const formula = {}
                        formula.id = id++
                        formula.text = x.toString()
                            .concat(' ', operator)
                            .concat(' ', y.toString())
                            .concat(' ', '=');

                        // this.formulas.push(formula);
                        list.push(formula);
                        console.log('formula',formula)
                        return formula;
                    }

                    if (operator === '-' && num1 < num2) {
                        printFormula(num2, num1,list);
                    } else {
                        printFormula(num1, num2,list);
                    }
                },
                generateAllFormulas() {
                    console.log('generate formulas');
                    for(let i=0; i<this.total; i+=2) {
                        this.generateOneFormula(this.formulas_left);
                        this.generateOneFormula(this.formulas_right)
                    }
                    
                }
            }
        }).mount('#app')
    </script>

    <div id="app">
        <header class="pt-5">
            <div>
                <span class="header_text">Minimum Number </span>
                <input v-model="min_num" placeholder="Type here">
            </div>

            <div>
                <span class="header_text">Sums to </span>
                <input v-model="sum_to" placeholder="Type here">
            </div>

            <div>
                <span class="header_text">Total Challenges </span>
                <input v-model="total" placeholder="Type here">
            </div>

            <div>
                <button type="button" class="btn btn-primary btn-sm" v-on:click="generateAllFormulas">Generate
                    formulas</button>
            </div>

            <div>
                <button type="button" class="btn btn-secondary btn-sm" v-on:click="generatePdf">Generate PDF</button>
            </div>
        </header>
        <main class="p-5">
            <p id="title"> Adding numbers to {{sum_to}}</p>

            <div id="problems_container">
                <div id="left">
                    <ul class='list-group'>
                        <li class="list-group-item" v-for="formula in formulas_left" :key="formula.id">
                            {{formula.text}}
                        </li>
                    </ul>
                </div>

                <div id="right">
                    <ul class='list-group'>
                        <li class="list-group-item" v-for="formula in formulas_right" :key="formula.id">
                            {{formula.text}}
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>


</body>